ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.login-body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("../images/milky-way.jpg");
    min-width: 860px;
    height: 900px;
}

.login{
    position: absolute;
    width: 40%;
    height: 220px;
    border: solid 1px black;
    top: 35%;
    left: 30%;
    background-color: darkslateblue;
    opacity: 0.9;
    min-width: 370px;
    border-radius: 5px;
}
.login ul{
    position: relative;
    top:25px;
    left: 20%;
}
.login ul li{
    font-size: 1.3em;
}
.btn_group{
    position: relative;
    top: 75px;
    left: 58%;
}
.btn_group input{
    background-color: antiquewhite;
    width: 74px;
    margin-left: 20px;
    height: 27px;
}
.btn_group button a{
    text-decoration: none;
    font-size: 1.5em;
}
.f_jump{
    margin-left: 200px;
    background-color: antiquewhite;
    width: 72px;
    margin-top: 48px;
    height: 25px;
   line-height: 23px;
}
.f_jump a{
    text-decoration: none;
}
.f_jump:hover{
    border: 1px solid green;
}
.up_lable{
    width: 85px;
    display: inline-block;
}