.write_text{
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: auto;
    margin-top: 10px;
}
.write_article_title{
    border:solid 1px black;
    width: 95%;
    margin: auto;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.write_article_preview_content{
    width: 96%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border:solid 1px black;
}
.write_content{
    width: 96%;
    margin: auto;
    height: auto;
    min-height: 400px;
}